<div class="container-fluid page-header mb-5 p-0" style="">
  <div class="container-fluid page-header-inner py-5">
    <div class="container text-center">
      <h1 class="display-4 text-white mb-4 animated slideInDown">التواصل</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center">
          <li class="breadcrumb- text-primary">الصفحات</li>
          <li class="mx-2 text-white-50">/</li>
          <li class="breadcrumb-item text-primary">
            <a routerLink="/home" class="text-primary">الرئيسية</a>
          </li>
          <li class="mx-2 text-white-50">/</li>
          <li class="breadcrumb-item text-white active" aria-current="page">
            تواصل معنا
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<!-- Contact Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="text-primary text-uppercase">التواصل</h6>
      <h3 class="mb-5">تواصل معنا عن طريق :</h3>
    </div>
    <div class="row g-4">
      <div class="col-12">
        <div class="row gy-4">
          <div class="col-md-4">
            <div class="bg-light d-flex flex-column justify-content-center p-4 text-center">
              <h5 class="text-uppercase"> العنوان </h5>
              <p class="m-0"><i class="bi bi-geo-alt text-primary ms-2"></i>
                الرياض - منطقة السفارات الصناعية - حي طويق
              </p>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="bg-light d-flex flex-column justify-content-center p-4">
              <h5 class="text-uppercase"> الجوال </h5>
              <p class="m-0"><i class="bi bi-telephone text-primary ms-2"></i>
      8781 957 55 966+
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bg-light d-flex flex-column justify-content-center p-4 text-center">
              <h5 class="text-uppercase"> البريد الإلكترونى </h5>
              <p class="m-0"><i class="bi bi-envelope text-primary ms-2"></i>
                cs@a-vsc.com
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="container my-5">
        <div class="row">
          <div class="col-lg-6 col-12 position-relative">
            <iframe class="position-relative rounded w-100 h-100"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3628.618495488879!2d46.51693890000001!3d24.567842399999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f19a57c88fa0b%3A0x5b8b66071c8652dc!2z2YjYsdi02Kkg2KfYqNmI2LDZitin2Kgg2LfZiNmK2YI!5e0!3m2!1sen!2seg!4v1737962949913!5m2!1sen!2seg"
              style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
              frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false" width="600"
              height="450" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="col-lg-6 col-12 position-relative ">
            <div>
              <div class="text-muted mt-3">
                املأ بياناتك وقم بإرسالها لنا
              </div>
              <form class="form-horizontal ">
                <div class=" mt-2">
                  <input type="text" class="form-control m-1 mb-3 w-100" id="name" placeholder="الاسم  ">
                  <input type="email" class="form-control m-1 mb-3 " id="email" placeholder="البريد الإلكترونى ">
                  <input type="text" class="form-control m-1 mb-3" id="subject" placeholder="الموضوع">
                  <textarea class="form-control m-1 mb-3" placeholder="اترك رسالتك هنا .." id="message"
                    style="height: 100px;"></textarea>

                  <button class="btn banner-btn w-100 py-2 rounded " type="submit">ارسال</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
