<!-- Service Start -->
<div class="container-xxl service py-5 ">
  <div class="container ">
    <div class="text-center ">
      <h6 class="text-primary text-uppercase">// خدماتنا //</h6>
      <h1 class="mb-5">تفحص خدماتنا </h1>
    </div>
    <div class="row p-4 d-flex align-items-center justify-content-center" >
      <div class="col-lg-4  ">
        <div class="nav w-100 nav-pills ms-4" style="font-size: 18px;">
          <button class="nav-link w-100 d-flex align-items-center text-start p-3 mb-4 active bg-light " data-bs-toggle="pill"
            data-bs-target="#tab-pane-1" type="button">
            <i class="bi bi-tools ms-3 "></i>
            <h4 class="m-0">قسم الميكانيكا</h4>
          </button>
          <button class="nav-link w-100 d-flex align-items-center text-start p-3 mb-4  bg-light  " data-bs-toggle="pill"
            data-bs-target="#tab-pane-2" type="button">
            <i class="bi bi-fan  ms-3"></i>
            <h4 class="m-0">قسم الكهرباء والتكييف</h4>
          </button>
          <button class="nav-link w-100 d-flex align-items-center text-start p-3 mb-4  bg-light" data-bs-toggle="pill"
            data-bs-target="#tab-pane-3" type="button">
            <i class="bi bi-palette ms-3"></i>
            <h4 class="m-0">قسم السمكرة والدهان</h4>
          </button>
          <button class="nav-link w-100 d-flex align-items-center text-start p-3 mb-0  bg-light" data-bs-toggle="pill"
            data-bs-target="#tab-pane-4" type="button">
            <i class="bi bi-life-preserver  ms-3"></i>
            <h4 class="m-0">خدمات متنوعة </h4>
          </button>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="tab-content w-100">
          <div class="tab-pane active" id="tab-pane-1">
            <div class="row p-4">
              <div class="col-md-7 " style="min-height: 350px;">
                <div class="position-relative  my-2 h-100 animate__animated animate__zoomIn animate__slow">
                  <img class="position-absolute img-fluid w-100 h-100" src="assets/images/services/1.jpeg"
                    style="object-fit: cover;" alt="">
                </div>
              </div>
              <div class="col-md-5 pt-4">
                <p><i class="bi bi-check text-success ms-3"></i>خدمة الصيانة السريعة</p>
                <p><i class="bi bi-check text-success ms-3"></i>خدمة فحص ما قبل البيع والشراء</p>
                <p><i class="bi bi-check text-success ms-3"></i>خدمة أنظمة التعليق والفرامل وال ABS</p>
                <p><i class="bi bi-check text-success ms-3"></i>خدمة توضيب المحركات</p>
                <p><i class="bi bi-check text-success ms-3"></i>ضبط بالكومبيوتر </p>
                <p><i class="bi bi-check text-success ms-3"></i>وزن الأذرعة والترصيص </p>
                <p><i class="bi bi-check text-success ms-3"></i>توضيب الجير بوكس </p>
                <a  class="btn banner-btn w-50 py-2 mt-3 d-flex  justify-content-center" routerLink="/contact">تواصل معنا<i class="bi bi-arrow-left mx-3"></i></a>

              </div>
            </div>
          </div>
          <div class="tab-pane " id="tab-pane-2">
            <div class="row g-4">
              <div class="col-md-6" style="min-height: 350px;">
                <div class="position-relative  my-2 h-100 animate__animated animate__zoomIn animate__slow ">
                  <img class="position-absolute img-fluid w-100 h-100" src="assets/images/services/2.jpeg"
                    style="object-fit: cover;" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <p><i class="bi bi-check text-success ms-3"></i>فحص وإصلاح الظفيرة الكهربائية من الصدام إلى الصدام.</p>
                <p><i class="bi bi-check text-success ms-3"></i>فحص كامل للأنوار والشاشات وأجهزة GPS.</p>
                <p><i class="bi bi-check text-success ms-3"></i>فحص التكييف باستخدام معدات ألمانية حديثة.</p>
                <p><i class="bi bi-check text-success ms-3"></i> وتحديد كمية الفريون لدقة</p>

                <a class="btn banner-btn w-50 py-2 mt-3 d-flex  justify-content-center" routerLink="/contact">تواصل معنا<i
                    class="bi bi-arrow-left mx-3"></i></a>

              </div>
            </div>
          </div>
          <div class="tab-pane " id="tab-pane-3">
            <div class="row g-4">
              <div class="col-md-6" style="min-height: 350px;">
                <div class="position-relative  my-2 h-100 animate__animated animate__zoomIn animate__slow">
                  <img class="position-absolute img-fluid w-100 h-100" src="assets/images/services/3.jpeg"
                    style="object-fit: cover;" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <p><i class="bi bi-check text-success ms-3"></i>السمكرة الباردة: إصلاح الأجزاء المتضررة دون الحاجة للدهان.</p>
                <p><i class="bi bi-check text-success ms-3"></i>شد الشاسيه: إعادة ضبط الشاسيه باستخدام الكارو لاينر.</p>
                <p><i class="bi bi-check text-success ms-3"></i>صلاح البلاستيك والصدامات</p>
                <p><i class="bi bi-check text-success ms-3"></i> أعمال الدهان: استخدام أفران إيطالية وأفضل أنواع البويات الألمانية    .</p>
                <p><i class="bi bi-check text-success ms-3"></i>  نضمن لك نتائج عالية الجودة.</p>
                <a class="btn banner-btn w-50 py-2 mt-3 d-flex  justify-content-center" routerLink="/contact">تواصل معنا<i
                    class="bi bi-arrow-left mx-3"></i></a>
              </div>
            </div>
          </div>
          <div class="tab-pane " id="tab-pane-4">
            <div class="row g-4">
              <div class="col-md-6" style="min-height: 350px;">
                <div class="position-relative h-100 my-2 animate__animated animate__zoomIn animate__slow">
                  <img class="position-absolute img-fluid w-100 h-100" src="assets/images/services/4.jpeg"
                    style="object-fit: cover;" alt="">
                </div>
              </div>
              <div class="col-md-6 ">
                <p><i class="bi bi-check text-success ms-3"></i>غسيل السيارات تنظيف داخلي وخارجي</p>
                <p><i class="bi bi-check text-success ms-3"></i>التلميع والتشميع</p>
                <p><i class="bi bi-check text-success ms-3"></i> العناية  بالمقصورة الداخلية</p>
                <p><i class="bi bi-check text-success ms-3"></i>ضبط بالكومبيوتر </p>
                <p><i class="bi bi-check text-success ms-3"></i> تركيب الإكسسوارات</p>
                <p><i class="bi bi-check text-success ms-3"></i>  فحص شامل دوري</p>
                <a class="btn banner-btn w-50 py-2 mt-3 d-flex  justify-content-center" routerLink="/contact">تواصل معنا<i
                    class="bi bi-arrow-left mx-3"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
