<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 " data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5">

      <div class="col-lg-3 col-md-6 m-0 ">
        <h2 class=" text-primary text-center"> AVSC
          <img src="assets/images/logo.png" alt="Logo" width="90" height="auto" class="">
        </h2>
        <p class="text-center">Abudiyab vehicle Services Center </p>
        <p class="text-center">مركز أبوذياب لصيانة السيارات</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">العنوان</h4>
        <p class="mb-2 text-center"><i class="bi bi-geo-alt mx-1"></i>   الرياض - منطقة السفارات الصناعية - حي طويق</p>
        <div class="d-flex pt-4">
          <a class="btn btn-outline-light btn-social" href="https://x.com/Abudiyabksa?t=WRK7v2AcKjqjtoYcZ_iZ9A&s=09" target="_blank"><i class="bi bi-twitter"></i></a>
          <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/abudiyabsa" target="_blank"><i class="bi bi-facebook"></i></a>
          <a class="btn btn-outline-light btn-social" href="https://www.tiktok.com/@abudiyabsa" target="_blank"><i class="bi bi-tiktok"></i></a>
          <a class="btn btn-outline-light btn-social" href="https://wa.me/0559578781" target="_blank"><i class="bi bi-whatsapp"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <h4 class="text-light mb-4"> ساعات العمل </h4>
        <h6 class="text-light">السبت - الخميس:</h6>
        <p class="mb-4">08.00 صباحا - 08.00 مساءا</p>
        <h6 class="text-light"> الجمعه:</h6>
        <p class="mb-0">08.00 مساءا - 8.00 مساءا</p>
      </div>
      <div class="col-lg-3 col-6">
        <h4 class="text-light mb-4">الصفحات</h4>
        <a class="btn btn-link" routerLink="/home"> الرئيسية</a>
        <a class="btn btn-link" routerLink="/service">الخدمات </a>
        <a class="btn btn-link" routerLink="/about" > من نحن</a>
        <a class="btn btn-link" routerLink="/contact">التواصل</a>
        <a class="btn btn-link"  >الشروط والأحكام</a>
      </div>
    </div>
  </div>
  <hr class="mx-5 mt-3">
  <div class="container">
      <div class="row">
        <div class="col-md-12 text-center mb-3 ">
              &copy;2025
          جميع الحقوق محفوظة لصالح شركة
          <a class="border-bottom text-primary fs-5 mx-1" href="#">AVSC
          </a>
        </div>
    </div>
  </div>
</div>
