<div class="container-xxl py-5">
  <div class="text-center">
    <h6 class="text-primary">// من نحن //</h6>
    <h1 class="mb-2">
      <span class="text-primary">AVSC</span> أفضل مكان للعناية بسيارتك
    </h1>
  </div>

  <div class="container">
    <div class="row g-5 ">
      <div class="col-lg-6 pt-4 animate__animated animate__zoomIn animate__slow" style="min-height: 400px">
        <div class="row  mx-2">
          <div class="card p-3 d-flex flex-row align-items-center">
            <div class="col-4 text-center">
              <div class="card-icon ">
                <i class="bi bi-eye" style="font-size: 2.5rem;"></i>
              </div>
              <div class="card-title font-weight-bold">رؤيتنا</div>
            </div>
            <div class="col-8">
              <div class="card-text">
                أن نكون الشركة الأولى في خدمات صيانة وإصلاح السيارات بجودة واحترافية تغطي كافة مناطق المملكة.
              </div>
            </div>
          </div>
        </div>
        <div class="row mx-2">
          <div class="card p-3 d-flex flex-row align-items-center ">
            <div class="col-4 text-center">
              <div class="card-icon mb-2">
                <i class="bi bi-bar-chart-line-fill" style="font-size: 2rem"></i>
              </div>
              <div class="card-title font-weight-bold">هدفنا</div>
            </div>
            <div class="col-8">
              <div class="card-text">
                تدريب وتأهيل الكوادر السعودية لدعم تحقيق مجتمع طموح واقتصاد مزدهر، بما يتماشى مع رؤية المملكة 2030.
              </div>
            </div>
          </div>
        </div>
        <div class="row mx-2">
          <div class="card p-3 d-flex flex-row align-items-center">
            <div class="col-4 text-center">
              <div class="card-icon mb-2">
                <i class="bi bi-asterisk" style="font-size: 2rem"></i>
              </div>
              <div class="card-title font-weight-bold">إيماننا</div>
            </div>
            <div class="col-8">
              <div class="card-text">
                تقديم خدمات عالية الجودة تعزز ثقة عملائنا,
                الاستثمار في الكوادر الوطنية لتحقيق التميز.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 pt-4 g-5">
        <p class="mb-4 my-2">
          أبو ذياب شركة سعودية رائدة تقدم خدمات وإصلاح السيارات يقودها ايدي
          مؤهلة ومدربة من مهندسين وفنيين ذات خبرات عالية
        </p>
        <div class="row g-4  pb-3 animate__animated animate__zoomIn animate__slow">
          <div class="col-12 " data-wow-delay="0.1s">
            <div class="d-flex">
              <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                style="width: 45px; height: 45px">
                <span class="fw-bold text-secondary">01</span>
              </div>
              <div class="pe-3">
                <h6>محترف وخبير</h6>
                <span class="text-muted">فريقنا يضم خبراء محترفين يقدمون حلولاً متكاملة ودقيقة لصيانة
                  سيارتك.</span>
              </div>
            </div>
          </div>
          <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
            <div class="d-flex">
              <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                style="width: 45px; height: 45px">
                <span class="fw-bold text-secondary">02</span>
              </div>
              <div class="pe-3">
                <h6>خدمة الجودة</h6>
                <span class="text-muted">نحرص على تقديم خدمات عالية الجودة تلبي احتياجاتك بأعلى معايير
                  الكفاءة.</span>
              </div>
            </div>
          </div>
          <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
            <div class="d-flex">
              <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                style="width: 45px; height: 45px">
                <span class="fw-bold text-secondary">03</span>
              </div>
              <div class="pe-3">
                <h6>العمال المتخصصين</h6>
                <span class="text-muted"> عمالنا المدربون والمتخصصون يضمنون عناية فائقة ونتائج مُرضية لسيارتك</span>
              </div>
            </div>
          </div>
          <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
            <div class="d-flex">
              <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                style="width: 45px; height: 45px">
                <span class="fw-bold text-secondary">04</span>
              </div>
              <div class="pe-3">
                <h6> المعدات الحديثة</h6>
                <span class="text-muted"> نعتمد على أحدث التقنيات والمعدات لضمان أداء فائق وخدمة مميزة.</span>
              </div>
            </div>
          </div>
        </div>
        <button class="btn banner-btn p-2 mt-4" routerLink="/contact">
          &nbsp; تواصل معنا
          <i class="bi bi-arrow-left-short"></i>
        </button>
      </div>
    </div>
  </div>
</div>
